.data {
    width: 50%;

    color: #00ff2a;
    font-size: 15px;
    font-family: 'Fira Sans';

    border-radius: 10px;
    margin-left: 20px;
    font-family: 'RM Font';
}

.pic {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characterPic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 8px solid #BE5A83;
}

.characterPic:hover {
    border: 8px solid #E06469;
}

.characterPic.Female {
    border: 8px solid #917FB3;
}

.characterPic.Female:hover {
    border: 8px solid #E5BEEC;
}

.characterPic.Male {
    border: 8px solid #088395;
}

.characterPic.Male:hover {
    border: 8px solid #05BFDB;
}

.characterPic.Genderless {
    border: 8px solid #B9EDDD;
}

.characterPic.Genderless:hover {
    border: 8px solid #569DAA;
}

.characterPic.App.Creator {
    border: 8px solid #1F1D36;
}

.characterPic.App.Creator:hover {
    border: 8px solid #B85C38;
}


.link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1F1D36;
    background-color: #088395;
}

.link:hover {
    background-color: #1093a5;
    border: 2px solid #00ff2a;
}

.detail {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.favicon {
    width: 16px;
    height: 16px;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
}

.ownImage {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 8px solid #95CD41;
}

.ownImage:hover {
    border: 8px solid #088395;
}

.aboutMeCard {
    background-color: #1093a5;
    opacity: 0.95;
    border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 1px 5px 1px 5px;
    margin-bottom: 50px;
    font-family: 'Fira Sans';
    color: white;
    border: 3px solid #1F1D36;
    backdrop-filter: blur(1px);
}

.aboutMeCard:hover {
    border: 3px solid #00ff2a;
}

.aboutMeCard a {
    color: #00ff2a;
}

.name {
    font-weight: bold;
    font-family: inherit;
    font-size: 30px;
}

/* .name.Female {
    color: #654E92;
}

.name.Male {
    color: #0B2447;
}

.right.Male {
    color: #576CBC;
}

.name.Genderless {
    color: #2C3333;
}

.name.App.Creator {
    color: #040303;
} */

.left {
    text-align: center;
}

/* .left.Female {
    color: #5F264A;
}

.right.Female {
    color: #643A6B;
}

.left.Male {
    color: #19376D;
}

.left.Genderless {
    color: #2E4F4F;
}

.left.App.Creator {
    color: #461111;
}

.right.App.Creator {
    color: #B3541E;
}

.right.Genderless {
    color: #0E8388;
} */

.starButton {
    background-color: rgb(0, 0, 0, 0.2);
    position: relative;
    left: 65px;
    bottom: 170px;
    font-size: 12px;
    color: yellow;
}

.starButton.false {
    color: transparent;
    background-color: transparent;
}

.leftAndRight {
    display: flex;
    flex-direction: row;
}

.leftAndRight i {
    font-size: 15px;
}

.left,
.right {
    width: 50%;
}

.left {
    text-align: center;
}

.right {
    margin-right: 10px;
}

.header {
    margin-top: 25px;
}

.lastRow {
    margin-bottom: 25px;
}

h3 a {
    display: inline-block;
    text-decoration: none;
}

.hrDetails {
    color: white;
    height: 1px;
    background-color: white;
    margin-top: 10px;
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.32);
    border-radius: 32px;
}
