.formContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: #222222;
    border: 2px solid #7CFD50;
    border-radius: 8px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    font-family: monospace;

}

hr {
    display: none;
}

form input {
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    height: 20px;
    font-family: 'monspace';
    text-align: center;
    border: 1px solid #3B3B3B;
}

form p {
    color: red;
    font-size: 12px;
    font-style: italic;
}

.formSubmitButton {
    background: #3B3B3B;
    color: white;
    border-style: outset;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-top: 5px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    font-family: 'Fira Sans';
    border: #3B3B3B;
}

.formSubmitButton:hover:enabled {
    border: 1px solid #7CFD50;
}

.formSubmitButton:hover:disabled {
    border: 1px solid red;
}

form img {
    /* height: 50px; */
    height: 300px;
}


.inputField {
    display: flex;
    align-items: flex-end;
}

.inputField i {
    color: #7CFD50;
    font-size: 18px;
}
